* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/background1.jpg);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.container {

    display: grid;
    grid-template-columns: 1fr;

}

/* My name Logo */
.name-title p {
    font-family: monospace, serif;
    font-size: 20px;
    font-weight: 600;
   display: flex;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    position: absolute;
top: 100px;
right: 50px;
    
}

/* Nav styles */

.name-title a {
    text-decoration: none;
    color: grey;
    cursor: pointer;
    display: flex;
}

.name-title {
    color: #777;
}

.nav-wrapper {

    display: flex;
    justify-content: space-between;
    padding: 38px;
    vertical-align: middle;
}

.left-side {
    display: flex;
}

.nav-wrapper>.left-side>div {

    margin-right: 20px;
    font-size: 1em;
    text-transform: uppercase;
}

.nav-link-wrapper {

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    height: 22px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #777;
    text-decoration: none;
    transition: color 0.5s;
    letter-spacing: 0.1em;
}

.nav-link-wrapper:hover {
    border-bottom: 2px solid #000;

}


.nav-link-wrapper a:hover {

    color: black;
}

.active-nav-link {

    border-bottom: 2px solid #000;
}

.active-nav-link a {
    color: black !important;
}

/* Portofolio content styles */


.portofolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.portofolio-item-wrapper {
    position: relative;
}

.portofolio-image-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;

}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;

}

.logo-wrapper img {

    width: 70%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1.5s;
    color: transparent;
    font-weight: 600;
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
}



.img-darken {
    transition: 1s;
    filter: brightness(10%);
}

/* RADIUS EFFECT FOR IMG */

.rad1 {
    border-top-left-radius: 30px;
}

.rad2 {
    border-top-right-radius: 30px;
}

.rad3 {
    border-bottom-left-radius: 30px;
}

.rad4 {
    border-bottom-right-radius: 30px;
}

/* About page  */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 90%;
    height: 90%;
    margin-bottom: 60px;

}

.profile-content-wrapper {
    padding: 30px;
    vertical-align: center;
    padding-top: 50px;
    padding-left: 10px;
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}

.profile-content-wrapper p {
    color: #777;
    margin-top: 20px;
}


/* footer  */
.ftblock {
    text-align: right;
   

}

.ftblock a {
    text-decoration: none;
    color: #777;
}

.ftnext {
    color: #777;
}


/* a button social media */
.social-media {
    display: flex;
    justify-content: right;
    
    
    
    

}

.social-media a {
    display: flex;
     background: #f3f3f3; /*url(images/background1.jpg);             -image          */
    height: 38px;
    width: 38px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

.social-media a i {
    font-size: 18px;
    color: #777;
    transition: transform 0.5s;

}

.social-media a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
        inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.01);

    transform: translateY(2px);
}

.social-media a:hover i {
    transform: scale(0.90);
}

.social-media a:hover .fa-facebook {
    color: #3b5998;
}

.social-media a:hover .fa-twitter {
    color: #00acee;
}

.social-media a:hover .fa-whatsapp {
    color: #4fce5d;
}

.social-media a:hover .fa-instagram {
    color: #f14843;
}

.social-media a:hover .fa-youtube {
    color: #F00;
}

@media (max-width: 1200px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width: 992px) {

    .container {
        max-width: 750px;
    }
}

@media (max-width: 767px) {

    .container {
        max-width: none;
    }
}
